p{
    text-align: center;
    text-size-adjust: 100;
    
}
body{
    background-color: #651373;
}
.hero{
    width: 200px;
    height: 200px;
    padding: 40px;
    background: #CE64E0;
    text-align: right;
    border-radius: 15px;
    color: #333;
}
.person{
    width: 200px;
    height: 200px;
    padding: 40px;
    background: #CE64E0;
    text-align: left;
    border-radius: 15px;
    color: #333;
}
.upload{
    color: white;
    text-align: center;
}